*, body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
}

.container {
	background: #fde2ff;
	background: linear-gradient(
    to bottom,
    #fde2ff 0%,
    #fde2ff 70%,
    #ffffff 70%,
    #ffffff 100%
  );
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.wrapper {
	background: #ffffff;
	width: 80%;
	height: 60vh;
	border-radius: 10px;
	box-shadow: 0 2px 8px rgb(0 0 0 / 0.2);
	padding-top: 4rem;
}

.card-container {
	display: flex;
	flex-direction: row;
}

.img-container img {
	width: 25vw;
	height: 40vh;
	padding: 70px 40px;
	overflow: hidden;
}

.detail-container {
	display: block;
	padding: 40px;
}

.detail-container h1 {
	color: #720060;
}

.category {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1rem 0 0.3rem 0;
	border-bottom: 1px solid #dcdcdc;
}

.rating-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.rating-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 0.7rem;
}

.product-text {
	padding: 1rem 0 2rem 0;
	border-bottom: 1px solid #dcdcdc;
}

.price-container {
	padding: 0.3rem 0;
}

.price-container h3 {
	color: #720060;
}

.action-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.action-container button {
	width: 170px;
	height: 27px;
	cursor: pointer;
	border-radius: 3px;
}

.action-container button:first-child {
	background: #720060;
	color: #ffffff;
	border: none;
}

.action-container button:last-child {
	color: #720060;
	border: 2px solid #720060;
}

.rating-wrapper span {
	color: #720060;
}